nav.menu
	ul
		li.nav-item
			a.nav-link(href="/") AromaMood
		li.nav-item
			a.nav-link(href="/aromas") Ароматы
		li.nav-item
			a.nav-link(href="/products") Продукты
		li.nav-item
			a.nav-link(href="/addproduct") Создать продукт
		li.nav-item
			a.nav-link(href="/addaroma") Создать аромат
		li.nav-item
			a.nav-link(href="/linkaroma") Связать аромат