extends ../layout
block content
	h2=title
	div.linking-page
		form#linkAroma(name="linkaroma", method="post", action="/linkaroma")
			section.products.column
				h5 Продукты
				select.productlist(name="product")
					each product, i in products
						option.prod(value="#{product._id}")= product.title

			section.aromas.column
				h5 Ароматы
				select.aromalist(name="aroma")
					each aroma, i in aromas
						option.odor(value="#{aroma._id}")= aroma.title
			button#btnSubmit(type="submit") Связать